/* #region Base */
html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* p:last-child {
  margin-bottom: 0;
} */

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

address {
  font-style: normal;
}

button {
  display: block;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #121417;
  background-color: #fff;
}
/* #endregion */

/* #region Common */
section {
  padding: 40px 0;
}

@media only screen and (min-width: 768px) {
  section {
    padding: 50px 0;
  }
}

@media only screen and (min-width: 1280px) {
  section {
    padding: 75px 0;
  }
}

.container {
  max-width: 335px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 704px;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  margin-bottom: 16px;

  font-size: 32px;
  line-height: 112%;
  letter-spacing: -0.02em;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .section-title {
    font-size: 40px;
    line-height: 120%;
  }
}

.section-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  text-align: center;
  color: rgba(18, 20, 23, 0.5);
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .section-text {
    font-size: 18px;
    line-height: 167%;
    margin-bottom: 64px;
  }
}

.deco-title {
  position: relative;
}

.deco-title::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 2px;
  z-index: -999;
  border-radius: 8px;
  width: 100%;
  height: 12px;
  background-color: #bee8cc;
}

@media only screen and (min-width: 768px) {
  .deco-title::after {
    height: 16px;
    bottom: 0;
  }
  
}

.heading-accent {
  color: #bee8cc;
}
/* #endregion */

/* #region Header */
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 375px;
  padding: 20px;
}

@media only screen and (min-width: 768px) {
  header .container {
    max-width: 768px;
    padding: 20.5px 32px;
  }
}

.logo-accent {
  color: #4dc274;
}

.mob-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
}

.mob-menu-icon {
  stroke: #121417;
}

.header-nav-list {
  display: none;
}

.header-social-links-list {
  display: none;
}

@media only screen and (min-width: 1280px) {
  header {
    margin-bottom: 16px;
  }

  header .container {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    padding: 0 128px;
    margin: 0 auto;
  }

  .header-nav {
    display: inline-flex;
    align-items: center;
  }

  .header-nav .logo {
    margin-right: 137.5px;
  }

  .header-nav-list {
    display: inline-flex;
    gap: 20px;
  }

  .header-nav-link {
    position: relative;
    display: block;
    padding: 33px 0px;
    font-weight: 600;
    font-size: 14px;
    line-height: 129%;
    color: #121417;
  }

  .header-nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 29px;
    width: 0;
    height: 2px;
    background-color: #4dc274;
    opacity: 0;

    transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: width, opacity;
  }

  .header-nav-link:hover::after,
  .header-nav-link:focus::after {
    opacity: 1;
    width: 100%;
  }

  .header-social-links-list {
    display: inline-flex;
    gap: 12px;
  }

  .mob-menu-btn {
    display: none;
  }

  .header-social-links-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(18, 20, 23, 0.1);
    border-radius: 10px;
    width: 44px;
    height: 44px;
    background-color: transparent;
  }

  .header-icon {
    fill: #121417;
    width: 28px;
    height: 28px;
    opacity: 0.8;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-social-links-item:hover .header-icon,
  .header-social-links-item:focus .header-icon {
    fill: #4dc274; 
  }
}
/* #endregion */

/* #region Hero */
/* .hero-section {
  padding: 8px 20px 40px;
}

@media only screen and (min-width: 768px) {
  .hero-section {
    padding: 32px 32px 50px;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-section {
    padding: 16px 64px 48px;
  }
} */

.hero-section .container {
  padding: 0;
}


.hero-section {
  width: 335px;
  margin: 8px auto 40px auto;
  padding: 425px 20px 14px;
  border-radius: 16px;
  background-color: #fff;
  background-image: linear-gradient(
      57deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.1) 100%
    ),
    url('../img/hero/block-mob.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@media (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        57deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.1) 100%
      ),
      url('../img/hero/block-mob@2x.jpg');
  }
}

@media only screen and (min-width: 768px) {
  .hero-section {
    width: 704px;
    padding: 260px 32px 32px;
    margin: 32px auto 50px auto;
    border-radius: 30px;
    background-image: linear-gradient(
        57deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.1) 100%
      ),
      url('../img/hero/block-tab.jpg');
  }
}

@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        57deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.1) 100%
      ),
      url('../img/hero/block-tab@2x.jpg');
  }
}

@media only screen and (min-width: 1280px) {
  .hero-section {
    width: 1152px;
    margin: 16px auto 0 auto;
    padding: 164px 32px 32px 64px;
    border-radius: 0;
    background-image: linear-gradient(
        57deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.1) 100%
      ),
      url('../img/hero/block-desk.jpg');
  }
}

@media only screen and (min-width: 1280px) and (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        57deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.1) 100%
      ),
      url('../img/hero/block-desk@2x.jpg');
  }
}

.hero-title {
  font-size: 38px;
  line-height: 105%;
  color: #fff;
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .hero-title {
    font-size: 60px;
    line-height: 117%;
    margin-bottom: 32px;
    max-width: 488px;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-title {
    max-width: 564px;
  }
  
}

.order-btn {
  display: block;
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 171%;
  color: #fff;

  margin: 0 auto 20px;
  padding: 14px 78px;
  width: 295px;

  border-radius: 12px;
  border: none;
  background-color: #4dc274;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .order-btn {
    min-width: 306px;
    font-size: 18px;
    line-height: 156%;
    text-align: center;
    padding: 16px;
    margin: 0 0 215px;
  }
}

@media only screen and (min-width: 1280px) {
  .order-btn {
    margin-bottom: 83px;
  }
}

.order-btn:hover,
.order-btn:focus {
  background-color: #38ae5f;
}

.scroll-down {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: #fff;
  margin-left: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .scroll-down {
    width: 48px;
    height: 48px;
  }
  
}

.arrow-icon {
  fill: #4dc274;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.scroll-down:focus,
.scroll-down:hover {
  background-color: #4dc274;
}

.scroll-down:focus .arrow-icon,
.scroll-down:hover .arrow-icon {
  fill: #fff;
}

/* #endregion */

/* #region About */

.about-item {
  position: relative;
  line-height: 120%;
  letter-spacing: -0.02em;
  padding: 80px 32px 32px;
  margin-bottom: 20px;
  border-radius: 16px;
  background-color: #f3f5f6;
  counter-increment: list-counter;
}

@media only screen and (min-width: 768px) {
  .about-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    margin-bottom: 32px;
  }

  .about-item {
    max-width: 336px;
    margin-bottom: 0;
  }
}

.about-item::before {
  position: absolute;
  content: counter(list-counter, decimal-leading-zero);
  top: 32px;

  font-size: 28px;
  line-height: 114%;
  letter-spacing: -0.02em;
  color: #4dc274;
}

.about-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  width: 335px;
  height: 313px;
  background-color: #4dc274;
}

@media only screen and (min-width: 768px) {
  .about-img-wrapper {
    width: 704px;
    height: 243px;
  }
}

@media only screen and (min-width: 1280px) {
  .about-section {
    padding-top: 96px;

  }

  .about-section .section-text {
    max-width: 658px;
    margin: 0 auto 64px auto;
  }

  .about-content-wrapper {
    display: flex;
    flex-wrap: nowrap;
  }

  .about-item {
    margin-bottom: 0;
    border-radius: 30px;
    width: 325px;
  }

  .about-list {
    margin-bottom: 0;
    max-width: 682px;
    margin-right: 32px;
  }

  .about-img-wrapper {
    border-radius: 30px;
    width: 310px;
    height: 352px;
  }
}
/* #endregion */

/* #region Lessons */

.lessons-card-item {
  border: 1px solid #4dc274;
  border-radius: 16px;
  height: 100%;
  min-height: 404px;
  padding: 40px 20px;
  background-color: #fff;
}

.lessons-card-item:not(:last-child) {
  margin-bottom: 20px;
}

.lessons-card-item:nth-child(even) {
  border: none;
  background-color: #4dc274;
}

.lessons-card-title {
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.02em;
  text-align: center;
}

.lessons-card-item:nth-child(even) .lessons-card-title,
.lessons-card-item:nth-child(even) .card-price {
  color: #fff;
}

.lessons-card-item.accent-card .lessons-card-button {
  background-color: transparent;
  outline: 1px solid rgba(255, 255, 255, 0.4);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, background-color, outline;
}

.lessons-card-item.accent-card .lessons-card-button:hover,
.lessons-card-item.accent-card .lessons-card-button:focus {
  outline: none;
  color: #4dc274;
  background-color: #fff;
}

.card-price-item:not(:last-child) {
  margin-bottom: 40px;
}

.card-price {
  font-weight: 700;
  font-size: 32px;
  line-height: 112%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #121417;
  text-align: center;
}

.card-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  text-align: center;
  color: rgba(18, 20, 23, 0.5);
}

.lessons-card-item:nth-child(even) .card-text {
  color: rgba(255, 255, 255, 0.7);
}

.lessons-card-button {
  display: block;
  border-radius: 12px;
  border: none;
  min-width: 295px;
  height: auto;

  font-weight: 700;
  font-size: 14px;
  line-height: 171%;
  color: #fff;
  margin-top: 20px;
  padding: 14px;
  text-align: center;
  background-color: #4dc274;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, background-color;
}

.lessons-card-button:hover,
.lessons-card-button:focus {
  background-color: #38ae5f;
}

@media only screen and (min-width: 768px) {
  .lessons-card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }

  .lessons-card-item {
    width: 336px;
    padding: 32px 16px;
  }

  .lessons-card-item:not(:last-child) {
    margin-bottom: 0;
  }

  .card-price {
    line-height: 137%;
  }

  .card-text {
    font-size: 16px;
    line-height: 150%;
  }

  .lessons-card-button {
    font-size: 18px;
    line-height: 156%;
    padding: 16px;
    text-align: center;
    height: auto;
    min-width: 304px;
    margin-top: 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .lessons-section .section-text {
    max-width: 665px;
    margin: 0 auto 64px auto;
  }

  .lessons-card-list {
    display: flex;
    flex-direction: row;
  }

  .lessons-card-item {
    width: 320px;
    padding: 32px;
  }

  .card-text {
    /* width: 256px;
    margin: 0 auto; */
  }

  .lessons-card-button {
    min-width: 256px;
  }
}

/* #endregion */

/* #region Accent */
.accent-section {
  width: 335px;
  margin: 40px auto 40px auto;
  padding: 40px 20px 64px;
  border-radius: 16px;
  background: linear-gradient(
    80deg,
    rgba(77, 194, 116, 1),
    rgba(190, 232, 204, 1)
  );
  overflow: hidden;
}

.accent-section .section-title {
  font-size: 38px;
  line-height: 105%;
  color: #fff;
  text-align: left;
  margin-bottom: 65px;
}

.accent-list-wrapper {
  position: relative;
  border-radius: 16px;
  padding: 40px 20px;
  z-index: 1;
}

.accent-books-img {
  display: none;
}

.accent-list-deco1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.5);
  transform: rotate(9deg);
  
  z-index: -999;
}

.accent-list-deco2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background-color: #d4fde1;
  transform: rotate(-11deg);
  
  z-index: -999;
}

.accent-list-deco3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background-color: #fff;
  z-index: -999;
}

.accent-list-subtitle {
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}

.accent-item {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: -0.02em;
}

.accent-item:not(:last-child) {
  margin-bottom: 16px;
}

.accent-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #4dc274;
  margin-right: 8px;
}

.accent-button {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 171%;
  color: #fff;
  margin: 0 auto;
  margin-top: 20px;
  padding: 14px;
  text-align: center;
  border-radius: 12px;
  border: none;
  background-color: #4dc274;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.accent-button:hover,
.accent-button:focus {
  background-color: #38ae5f;
}

@media only screen and (min-width: 768px) {
  .accent-section {
    width: 704px;
    margin: 50px auto 50px auto;
    padding: 64px 18px 93px;
    border-radius: 30px;
  }

  .accent-section .section-title {
    font-size: 60px;
    line-height: 117%;
    margin: 0 14px 83px;
  }

  .accent-list-wrapper {
    position: relative;
    padding:65px 185px 63px 32px;
  }

  .accent-books-img {
    display: block;
    position: absolute;
    top: 174px;
    left: 503px;
  }

  .accent-list-subtitle {
    margin-bottom: 32px;
    font-size: 40px;
  }

  .accent-item {
    font-size: 20px;
    line-height: 120%;
  }

  .accent-icon-wrapper{
    width: 28px;
    height: 28px;
    margin-right: 16px;
  }

  .accent-icon {
    width: 13px;
    height: 9px;
  }

  .accent-button {
    font-size: 18px;
    line-height: 156%;
    padding: 16px;
    margin: 0;
    margin-top: 32px;
    text-align: center;
    width: 306px;
  }

  .accent-list-deco1,
  .accent-list-deco2,
  .accent-list-deco3 {
    border-radius: 30px;
  }
}

@media only screen and (min-width: 1280px) {
  .accent-section {
    width: 1152px;
    margin: 75px auto 75px auto;
    padding: 64px 64px 142px;
  }

  .accent-section .section-title {
    margin: 0 0 133px;
    width: 776px;
  }

  .accent-list-wrapper {
    padding: 64px 306px 64px 64px;
  }

  .accent-list-subtitle {
    margin-bottom: 40px;
  }

  .accent-button {
    margin-top: 39px;
  }

  .accent-books-img {
    top: 129px;
    left: 810px;
  }
}
/* #endregion */

/* #region Teachers */

.teacher-item {
  text-align: center;
}

.teacher-item:not(:last-child) {
  margin-bottom: 40px;
}

.teacher-img {
  margin: 0 auto;
  border-radius: 50%;
  margin-bottom: 16px;
}

.teacher-name {
  margin-bottom: 8px;
  line-height: 120%;
  letter-spacing: -0.02em;
}

.teacher-descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: rgba(18, 20, 23, 0.5);
}

@media only screen and (min-width: 768px) {
  .teacher-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
  }

  .teacher-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc((100% - 32px) / 2);
    max-width: 272px;
  }

  .teacher-item:not(:last-child) {
    margin-bottom: 0;
  }

  .teacher-descr {
    font-size: 16px;
    line-height: 150%;
  }
}

@media only screen and (min-width: 1280px) {
  .teacher-section .section-text {
    max-width: 709px;
    margin: 0 auto 64px auto;
  }

  .teacher-item {
    width: calc((100% - 32px * 3) / 4);
  }
}
/* #endregion */

/* #region Contact */
.form-img-wrapper {
  display: none;
}

.form-wrapper {
  margin: 0 auto;
  max-width: 335px;
}

.main-form {
  position: relative;
  display: flex;
  flex-direction: column;
}

.main-form-input,
.main-form-comment {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: #121417;

  border: 1px solid rgba(18, 20, 23, 0.1);
  border-radius: 12px;
  padding: 16px 18px;
  margin-bottom: 18px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-form-input {
  position: relative;
}

.main-form-comment {
  resize: none;
  margin-bottom: 20px;
}


.required-marker1,
.required-marker2,
.required-marker3,
.required-marker4,
.form-email-error-msg,
.form-email-error-empty,
.form-name-error-empty {
  position: absolute;
  top: -6px;
  right: 25px;
  background-color: #fff;
  color: rgba(18, 20, 23, 0.1);
  font-size: 12px;
  
  opacity: 0;
  transform: scale(0);
  
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity, color, transform;
}

.form-email-error-msg,
.form-email-error-empty,
.form-name-error-empty {
  top: 65px;
  color: tomato;
}

.form-name-error-empty {
  top: -7px;
}

.required-marker2,
.form-email-error-empty {
  top: 65px;
}

.form-email-error-msg.is-onscreen,
.form-email-error-empty.is-onscreen,
.form-name-error-empty.is-onscreen {
  opacity: 1;
  transform: scale(1);
}

.required-marker3 {
  top: 134px;
}

.required-marker4 {
  top: 204px;
}

@media only screen and (min-width: 768px) {
  .required-marker1,
  .required-marker2,
  .required-marker3,
  .required-marker4,
  .form-email-error-msg,
  .form-email-error-empty,
  .form-name-error-empty {
    top: -7px;
  }

  .form-email-error-msg,
  .form-email-error-empty,
  .form-name-error-empty {
    top: 67px;
  }

  .form-name-error-empty {
    top: -7px;
  }

  .required-marker2,
  .form-email-error-empty {
    top: 67px;
  }

  .required-marker3 {
    top: 141px;
  }
  
  .required-marker4 {
    top: 215px;
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
  75% {
    transform: translateY(-5px);
  }
}

.shake {
  animation: shake 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.name-input:focus + .required-marker1,
.email-input:focus + .required-marker2,
.phone-input:focus + .required-marker3,
.comment-area:focus + .required-marker4 {
  transform: scale(1);
  color: #4dc274;
  opacity: 1;
}

.main-form-input:focus,
.main-form-comment:focus {
  outline: none;
  border-color: #4dc274;
}


.main-form-input::placeholder,
.main-form-comment::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: #121417;
}

.radio-teachers-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: -0.02em;
  margin-bottom: 14px;
}

.radio-wrapper {
  margin-bottom: 8px;
}

.radio-label {
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: -0.02em;
  text-align: center;
}

.custom-radio-input {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid rgba(18, 20, 23, 0.2);
  margin-right: 8px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.radio-input:checked + .radio-label .custom-radio-input {
  border: 2px solid #4dc274;
}

.custom-radio-accepted {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #4dc274;
  opacity: 0;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.radio-input:checked 
+ .radio-label 
.custom-radio-input 
.custom-radio-accepted {
  opacity: 1;
}

.radio-teachers-accept-button {
  margin-top: 54px;

  border: none;
  border-radius: 12px;
  padding: 14px;
  min-width: 335px;
  height: 52px;
  background-color: #4dc274;

  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 171%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.radio-teachers-accept-button:hover,
.radio-teachers-accept-button:focus {
  background-color: #38ae5f;
}

.radio-lessons {
  margin-top: 20px;
}

.radio-lesson-tipe {
  position: relative;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: -0.02em;
}

.radio-lesson-tipe::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: #4dc274;
  opacity: 0;

  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: width, opacity;
}

.radio-lesson-input:checked + .radio-lesson-tipe::after {
  opacity: 1;
  width: 100%;
}

.radio-lesson-tipe:not(:last-child) {
  margin-right: 18px;
}

.form-privacy-text {
  display: none;
}

@media only screen and (min-width: 768px) {
  .form-wrapper {
    max-width: 500px;
  }

  .main-form-input {
    font-size: 16px;
    line-height: 150%;
    height: 56px;
    margin-bottom: 18px;
  }

  .main-form-comment {
    margin-bottom: 32px;
  }

  .main-form-input::placeholder,
  .main-form-comment::placeholder {
    font-size: 16px;
    line-height: 150%
  }

  .radio-teachers-subtitle {
    font-size: 18px;
    line-height: 133%;
    margin-bottom: 16px;
  }

  .teacher-radio-main-wrapper {
    display: flex;
    flex-direction: row;
  }

  .radio-wrapper:not(:last-child) {
    margin: 0;
    margin-right: 16px;
  }

  .radio-label {
    font-size: 18px;
    line-height: 133%;
  }

  .custom-radio-input {
    width: 24px;
    height: 24px;
  }

  .custom-radio-accepted {
    width: 12px;
    height: 12px;
  }

  .radio-teachers-accept-button {
    min-width: 500px;
    height: 64px;
    font-size: 18px;
    line-height: 156%;
    padding: 16px;
    margin-top: 32px;
  }

  .radio-lesson-tipe {
    font-size: 18px;
    line-height: 133%;
  }

  .radio-lesson-tipe:not(:last-child) {
    margin-right: 16px;
  }

  .form-privacy-text {
    display: inline;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: rgba(18, 20, 23, 0.5);
    margin-top: 16px;
  }

  .privacy-link {
    text-decoration: underline;
    text-decoration-skip-ink: none;
  }
}

@media only screen and (min-width: 1280px) {
  .contact .section-text {
    max-width: 709px;
    margin: 0 auto 64px auto;
  }

  .form-section-content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .form-img-wrapper {
    position: relative;
    display: block;
    border-radius: 30px;
    width: 492px;
    height: 100%;
    margin-right: 32px;
    padding: 412px 20px 40px;
    overflow: hidden;

    background-color: #4dc274;
  }

  
  .form-img-heading {
    font-size: 40px;
    line-height: 120%;
    letter-spacing: -0.02em;
    text-align: center;
    margin-bottom: 8px;
    color: #fff;
  }
  
  .form-img-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .form-img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 20px;
  }

  .form-wrapper {
    margin: 0;
  }
}
/* #endregion */

/* #region Reviews */

.reviews-wrapper {
  cursor: pointer;
  border-radius: 16px;
  width: 335px;
  min-height: 278px;
  background-color: #f3f5f6;
  padding: 20px;
}

.reviewer-container {
  display: inline-flex;
  align-items: center;
  border-radius: 8px;
  width: 295px;
  height: 78px;
  background-color: #4dc274;
  padding: 14px;
  margin-bottom: 20px;
}

.reviewer-info {
  margin-left: 8px;
}

.reviewer-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #fff;
}

.reviewer-job {
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  color: rgba(255, 255, 255, 0.5);
}

.review {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: rgba(18, 20, 23, 0.5);
  margin: 0 14px;
}

.reviewer-img {
  width: 50px;
  height: 50px;
}

@media only screen and (min-width: 768px) {
  .reviews-wrapper {
    width: 336px;
    min-height: 326px;
    border-radius: 30px;
    padding: 32px 16px;
  }

  .reviewer-container {
    padding: 14px 16px;
    margin-bottom: 32px;
    width: 304px;
    border-radius: 15px;
  }

  .reviews-list {
    display: flex;
    gap: 32px;
  }

  .review {
    font-size: 16px;
    line-height: 150%;
  }
}

@media only screen and (min-width: 1280px) {
  .reviews-section .section-text {
    max-width: 647px;
    margin: 0 auto 64px auto;
  }

  .reviews-wrapper {
    width: 320px;
    min-height: 326px;
  }

  .reviewer-container {
    width: 288px;
  }
}
/* #endregion */

/* #region Footer */

footer {
  display: block;
  background-color: #121417;
  padding: 40px 20px 20px;
  margin-top: 40px;
}

footer .logo {
  display: block;
  color: #fff;
  margin-bottom: 20px;
}

.footer-address {
  margin-bottom: 40px;
}

.address-item:not(:last-child) {
  margin-bottom: 16px;
}

.address-subtitle {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.6);
  opacity: 0.9;
}

.address-contacts {
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  color: #fff;
}

.footer-nav-list {
  margin-bottom: 40px;
}

.footer-nav-item:not(:last-child) {
  margin-bottom: 20px;
}

.footer-nav-link {
  display: block;
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  color: #fff;
  transform: scale(1);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-nav-link:hover,
.footer-nav-link:focus {
  transform: scale(1.05);
}

.social-links-list {
  display: inline-flex;
  gap: 12px;
  margin-bottom: 40px;
}

.social-links-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 42px;
  height: 42px;
  background-color: transparent;
}

.footer-line {
  display: block;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin: 0;
}

.copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.6);
  margin: 20px 0 14px;
}

.policy-item {
  display: inline;
}

.policy-item-link {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.6);
}

.policy-item:not(:last-child) {
  margin-right: 18px;
}

.policy-item-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.6);

  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-item-link:hover.policy-item-link::after {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  footer {
    padding: 32px 32px 16px;
  }

  .footer-before-hr {
    display: flex;
    flex-direction: row;
  }

  .footer-address-wrapper {
    margin-right: 152px;
  }

  .footer-nav {
    margin-right: 131px;
  }

  .footer-after-hr {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
  }

  .copyright {
    margin: 0;
  }

  .policy-list {
    margin-top: -5px;
  }
}

@media only screen and (min-width: 1280px) {
  .footer-before-hr {
    justify-content: space-between;
  }
}
/* #endregion */

/* #region Burger menu mob */

.burger-menu-bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: row-reverse;

  background-color: rgba(18, 20, 23, 0.4);
  z-index: 1;

  pointer-events: none;
  opacity: 0;
  visibility: hidden;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity, visibility;
}

.burger-menu-bg.is-open {
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
}

@media only screen and (min-width: 1280px) {
  .burger-menu-bg {
    display: none;
  } 
}
/* ↓ cancel scroll if menu is open ↓ */

body.no-scroll {
  overflow: hidden;
}

/* ↑ cancel scroll if menu is open ↑ */

.mobmenu-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;
  min-width: 240px;
  max-width: 70vw;

  transform: translateX(100%);

  background-color: #4dc274;
  padding: 20px;
  padding-top: 248px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-menu-bg.is-open .mobmenu-container {
  transform: translateX(0);
}

.mobmenu-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
}

.mobmenu-nav {
  margin-bottom: auto;
}

.mob-nav-list {
  text-align: center;
}

.mob-nav-item:not(:last-child) {  
  margin-bottom: 20px;
}

.mob-nav-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  color: #fff;
}

.mob-social-links-list {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.mob-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 8px;
}

.mob-social-link-icon {
  fill: white;
  opacity: 0.8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.social-links-item:hover .footer-icon,
.social-links-item:focus .footer-icon {
  fill: #4dc274; 
}

.mob-social-link:hover .menu-icon,
.mob-social-link:focus .menu-icon {
  fill: #121417; 
}

@media only screen and (min-width: 768px) {
  .mobmenu-container {
    height: 100vh;
    min-width: 384px;
    max-width: 50vw;
    padding-top: 337px;
  }
  
}
/* #endregion */

/* Splide library */

.my-slider-progress {
  background: #f3f5f6;
}

.my-slider-progress-bar {
  background: #4dc274;
  height: 2px;
  transition: width 400ms ease;
  width: 0;
}

@media only screen and (min-width: 768px) {
  .splide__list {
  }
}
